{{define "title"}}About{{end}}

{{define "main"}}
    <div class='about'>
        <div class='metadata'>
            <strong>About</strong>
        </div>
        <div class='text'>
            <p>
            Snippetbox is a server-rendered web app to share snippets of text -- quotes, quick messages, notes, love letters?... -- with expiration.
            It's a build-along project from the book <strong>Let's Go: A Step-By-Step Guide t Creating Fast, Secure, and Maintanable Web Applications in Go</strong>
            by Alex Edward <a href='https://lets-go.alexedwards.net/'>here</a>.
            I picked it up to learn the Go programming language and its conventional practices.
            </p>
        </div>
    </div>
{{end}}